{% extends "VOOTSIndexBundle::layout.html.twig" %}


{% block title %}
    {{ parent() }} - A propos
{% endblock %}


{% block body %}

    <div class="titre-pricipal">A PROPOS DE VOOTS</div>
    <div class="sstitre-principal">Qui sommes nous?</div>
    <div class="texte"><p>VOOTS Politique numérique est une association à but non lucratif dont le but
            est de créer un panel d'outils numériques permettant de rapprocher le citoyen de la politique. </p>
        Les outils que nous vous proposons : 
        <ul>
            <li>Des vidéos, pour tout connaître sur les instances politiques françaises et comprendre comment elles fonctionnent</li>
			<li>Des infographies expliquant en une image un détail de la vie politique</li>
        </ul>
        <p> Notre association est neutre et apartisanne, ce qui permet aux français de se renseigner et de s'impliquer simplement.</p>
        <p>Nous développons des outils pour un large public, passant de vidéos explicatives au suivi de nos élus afin de se répropprier
            la politique et la démocratie </p>
    </div>
{% endblock %}
