{% extends "VOOTSIndexBundle::layout.html.twig" %}


{% block title %}
    {{ parent() }} - Vote pour les associations
{% endblock %}

{% block body %}
    
 <div class="sstitre-principal">VOTEZ POUR L'ASSOCIATION DE VOTRE CHOIX</div>
   
    <div class="texte"><p>Depuis peu, nous avons débloqué la monétisation de nos vidéos sur YouTube.
        Nous souhaitons que l'argent généré soit entèrement reversé à des associations, et par le biais d'un simple sondage, 
        vous laisserons choisir à quelles associations vous souhaitez que l'on reverse cet argent.</p>
    </div>
         <div class="sstitre-principal">Nous pourrons recevoir l'argent de YouTube lorsque nous aurons atteint 70€ de revenus. </div>
     <div class="texte">     
         <p>Pour l'instant nous en sommes encore loins. Alors, pour pouvoir voter, </p>
      </div>    
     <div class="titre-pricipal">N'HESITEZ PAS A PARTAGER NOS VIDEOS! </div>
   
{% endblock%}