{% extends "VOOTSIndexBundle::layout.html.twig" %}


{% block title %}
    {{ parent() }} - Vidéos
{% endblock %}

{% block body %}
<table class="table-video">    
{% for uneVideo in listeVideos %}
    {% if (loop.index % 3) == 1 %}
    <tr>
    {% endif %}
        <td>   
        <a href="#" data-toggle="modal" data-target="#videoModal" data-theVideo="{{uneVideo.url}}" class="thumbnail">
          <img src="{{ asset(uneVideo.image) }}" alt="{{uneVideo.alt}}" class="img-responsive img-rounded image-cliquable">
        </a>
        </td>
    {% if (loop.index % 3) == 0 %}
    </tr>
    {% endif %}
{% endfor %} 
</table>
 
<div class="modal fade" id="videoModal" tabindex="-1" role="dialog" aria-labelledby="videoModal" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <div>
                    <iframe width="100%" height="350" src=""></iframe>
                </div>
            </div>
        </div>
    </div>
</div>
    
 
<script>
$(document).ready(function(){
  autoPlayYouTubeModal();
});


//FUNCTION TO GET AND AUTO PLAY YOUTUBE VIDEO FROM DATATAG
function autoPlayYouTubeModal(){
  var trigger = $("body").find('[data-toggle="modal"]');
  trigger.click(function() {
    var theModal = $(this).data( "target" ),
    videoSRC = $(this).attr( "data-theVideo" ), 
    videoSRCauto = videoSRC+"?autoplay=1" ;
    $(theModal+' iframe').attr('src', videoSRCauto);
    $(theModal+' button.close').click(function () {
        $(theModal+' iframe').attr('src', videoSRC);
    });   
  });
}
</script>
{% endblock %}